body {
  margin: 0;
  background-color: rgb(38, 38, 38);
  color: #ffffff;
  margin: 0;
  font-family: "Titillium web", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}